html, body {
    margin: 0;
    padding: 0;
}

html{ 
    height:100%;
}

body{ 
    overflow-x: hidden !important;
    height:100%;
}

@font-face {font-family: "Tangerine"; src: url('src/tangerine.otf') format('otf'),  url('src/tangerine-webfont.woff') format('woff'), url('src/tangerine-webfont.woff2') format('woff2');}
@font-face {font-family: "sans"; src: url('src/lausanne.woff2') format('woff2'),  url('src/lausanne.woff') format('woff'), url('/src/lausanne.otf') format('otf');}


body {
  min-height: 100%;
  font-family: 'sans';
  color: #e6822f;
  background: #16321B;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-description-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}


.mail {
    font-family: 'sans';
    padding-right:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    padding-bottom: 40px;
}






hr.new1 {
    border: 1px solid #e6822f;
}

.main-description .big {
    font-size: 100px;
    font-family: 'Tangerine';
    line-height: 0.9em;
    margin:0px;
    text-align: center
}   

.main-description .big2 {
    font-size: 48px;
    font-family: 'Tangerine';
    line-height: 0.9em;
    text-align: left;
    margin:0px;
}   

.main-description .big3 {
    font-size: 24px;
    font-family: 'sans';
    line-height: 0.9em;
    text-align: left;
} 

.hr {
    border: 1px solid #e6822f;
}


.fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}


.column {
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

.middle {
  width: 100%;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.background-header {
    width: 45%;
    z-index: 2;
}


.gmaps-mobile {
    display:none;
 
}



@media only screen and (max-width: 850px) {

    .gmaps-desktop {
        display:none;
    }

    .gmaps-mobile {
        display:inline;
     
    }
    
    

    .main-description .big {
        font-size: 46px;
        font-family: 'Tangerine';
        line-height: 0.9em;
        margin:0px;
        text-align: center
    }  

    .main-description .big2 {
        font-size: 26px;
        font-family: 'Tangerine';
        line-height: 0.9em;
        text-align: left;
        margin:0px;
    } 

    .main-description .big3 {
        font-size: 16px;
        font-family: 'sans';
        line-height: 0.9em;
        text-align: left;
    } 

    .background-header {
        width: 80%;
        z-index: 2;
        padding-bottom:30px;
    }

    .main-description-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;

    }

    .facebook-instagram {
        display: none;
    }

    .mail {
        display: none;
    }
    

}


.caption {
    width: 30vw;
}



.item {
    padding:1em;
    display:flex;
    background:orange;
}
  
.home-description {
    width: 24vw;
    position: absolute;
    left: 40px;
    bottom: 22vw;
    font-size: 16px;
    line-height: 1.2em;
    color: #e6822f;
    text-transform: uppercase;
    z-index:10;
}



.top {
    width: 100%;
    text-align: center;
    padding-top:40px;
}


.button-video:hover a{
    color: #000000;
}

.button-video:hover a{
    color: #000000;
}

.button-video:hover a::after{
    background-color: #000000;
}



.bottom {
    bottom:0px;
    padding-top:100px;
    padding-bottom:100px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-bottom:40px;
}

.middle {
  flex: 1;
  display: flex;
  align-self:center;
  align-items:center;
  flex-wrap: wrap;
  margin: 10px 0;
}



.centered {
    position: absolute;                                 
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}



span{
    font-family: 'Brown-Bold';
}

.sliding-span {
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.sliding-p {
    transform: translate(0px,100px);
    animation-name: slidingDescr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin:5px;
}
  
@keyframes slidingDescr {
    from {transform: translate(0px,100px);}
    to {transform: translate(0px,0px);}
}

a {
    color: #e6822f;
    text-decoration: none;
    
    display: inline-block;
    padding: 3px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#e6822f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

.black-text {
    color:#000000
}

.hide {
    display:none;
}

@media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
}
  


@media only screen and (max-width: 900px) {
    .column {
        height:60vh;
    }

    .centered {
        position: absolute;                                 
        left: 50%;
        top: 28%;
        transform: translate(-50%, -50%);
    }
}

